<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}Blog | Sparrow{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">

    <!-- Script
    ================================================== -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">
    {% macro render_pagination(pagination, endpoint) %}
        <nav>
            <ul class="pagination">
                <li>
                    {% if pagination.has_prev %}
                        <li>
                            <a href="{{ url_for('blog.blog', page=pagination.prev().page) }} "
                               class="page-numbers prev"
                               aria-label="Previous">Prev
                            </a>
                        </li>
                    {% else %}
                        <li>
                                            <span href="{{ url_for('blog.blog', page=1) }}"
                                                  class="page-numbers prev inactive"
                                                  aria-label="Previous">Prev
                                            </span>
                        </li>
                    {% endif %}
                </li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li>
                                <a href="{{ url_for(endpoint, page=page) }}" class="page-numbers">
                                    {{ page }}
                                </a>
                            </li>
                        {% else %}
                            <li><a href="" class="page-numbers current">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li><a>...</a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="{{ url_for('blog.blog', page=pagination.next().page ) }}"
                       class="page-numbers next"
                       aria-label="Next">Next
                    </a>
                <li>
            </ul>
        </nav>
    {% endmacro %}

</head>

<body>

<!-- Header
================================================== -->
<header>

    <div class="row">

        <div class="twelve columns">

            <div class="logo">
                <a href="index.html"><img alt="" src="images/logo.png"></a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">

                    <li><a href="index.html">Home</a></li>
                    <li class="current"><span><a href="blog.html">Blog</a></span>
                        <ul>
                            <li><a href="blog.html">Blog Index</a></li>
                            <li><a href="single.html">Post</a></li>
                        </ul>
                    </li>
                    <li><span><a href="portfolio-index.html">Portfolio</a></span>
                        <ul>
                            <li><a href="portfolio-index.html">Portfolio Index</a></li>
                            <li><a href="portfolio.html">Portfolio Entry</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="styles.html">Features</a></li>

                </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

        </div>

    </div>

</header> <!-- Header End -->

<!-- Page Title
================================================== -->
<div id="page-title">

    <div class="row">

        <div class="ten columns centered text-center">
            <h1>{% block span_title %}LG's Blog{% endblock %}<span>.</span></h1>

            <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
                enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>
        </div>

    </div>

</div> <!-- Page Title End-->

<!-- Content
================================================== -->

<div class="content-outer">
    {% block body %}
        body_content
    {% endblock %}
</div>
<!-- Content End
================================================== -->

<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="footer-nav">
                <li><a href="#">Home.</a></li>
                <li><a href="#">Blog.</a></li>
                <li><a href="#">Portfolio.</a></li>
                <li><a href="#">About.</a></li>
                <li><a href="#">Contact.</a></li>
                <li><a href="#">Features.</a></li>
            </ul>

            <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

            <ul class="copyright">
                <li>Copyright &copy; 2014 Sparrow</li>
                <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
            </ul>

        </div>

        <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

    </div>

</footer> <!-- Footer End-->

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"><\/script>')</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/doubletaptogo.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>

</html>