<!-- Replace the TITLE of template base.html -->
{% extends "blog/base.html" %}
{% block title %}LG's Blog{% endblock %}
{% block span_title %}LG's Blog{% endblock %}

<!-- Content
================================================== -->
<!-- Replace the BODY of template base.html -->
{% block body %}

    <div id="page-content" class="row">

        <div id="primary" class="eight columns">
            <!-- Get Pagination object-->
            {% for post in posts.items %}

                <article class="post">

                    <div class="entry-header cf">

                        <h1><a href="{{ url_for('blog.blog_detail', post_id=post.id) }}" title="">{{ post.title }}</a>
                        </h1>

                        <p class="post-meta">
                            <time class="date" datetime="{{ post.publish_date }}">{{ post.publish_date }}</time>
                            <span class="categories">
                                {% for tag in post.tags %}
                                    <a href="#">{{ tag.name }}</a> /
                                {% endfor %}
                            </span>
                        </p>
                    </div>

                    <div class="post-thumb">
                        <a href="{{ url_for('blog.blog_detail', post_id=post.id) }}" title=""><img
                                src="images/post-image/post-image-1300x500-01.jpg"
                                alt="post-image" title="post-image"></a>
                    </div>

                    <div class="post-content">

                        <p>{{ post.text | truncate(255) | safe }} </p>
                        <!-- Set the link for read more -->
                        <a href="{{ url_for('blog.blog_detail', post_id=post.id) }}">Read More</a>
                    </div>

                </article> <!-- post end -->
            {% endfor %}

            {#      render_pagination      #}
            {% macro render_pagination(pagination, endpoint, tag_name, category_name) %}
                <nav>
                    <ul class="pagination">
                        <li>
                            {% if pagination.has_prev %}
                                <li>
                                    <a href="{{ url_for('blog.blog_list', page=pagination.prev().page,tag_name=tag_name,category_name=category_name) }} "
                                       class="page-numbers prev"
                                       aria-label="Previous">Prev
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <span href="{{ url_for('blog.blog_list', page=1,tag_name=tag_name,category_name=category_name) }}"
                                          class="page-numbers prev inactive"
                                          aria-label="Previous">Prev
                                    </span>
                                </li>
                            {% endif %}
                        </li>
                        {% for page in pagination.iter_pages() %}
                            {% if page %}
                                {% if page != pagination.page %}
                                    <li>
                                        <a href="{{ url_for(endpoint, page=page,tag_name=tag_name,category_name=category_name) }}"
                                           class="page-numbers">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li><a href="" class="page-numbers current">{{ page }}</a></li>
                                {% endif %}
                            {% else %}
                                <li><a>...</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{{ url_for('blog.blog_list', page=pagination.next().page ,tag_name=tag_name,category_name=category_name) }}"
                               class="page-numbers next"
                               aria-label="Next">Next
                            </a>
                        <li>
                    </ul>
                </nav>
            {% endmacro %}

            <!-- Pagination -->
            <nav class="col full pagination">
                <ul>
                    {{ render_pagination(posts, 'blog.blog_list',tag_name,category_name) }}
                </ul>
            </nav>

        </div> <!-- Primary End-->

        {#  右边的内容  #}
        <div id="secondary" class="four columns end">

            <aside id="sidebar">

                <div class="widget widget_search">
                    <h5>Search</h5>
                    <form action="#">

                        <input class="text-search" type="text"
                               onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                               onblur="if(this.value == '') { this.value = 'Search here...'; }" value="Search here...">
                        <input type="submit" class="submit-search" value="">

                    </form>
                </div>

                <div class="widget widget_text">
                    <h5>Recent Posts</h5>
                    <ul>
                        {% for post in recent %}
                            <!-- Set the link for recent posts. -->
                            <li><a href="{{ url_for('blog.blog_detail', post_id=post.id) }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="widget widget_text">
                    <h5 class="widget-title">Text Widget</h5>
                    <div class="textwidget">Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                        nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                        a sit amet mauris. Morbi accumsan ipsum velit.
                    </div>
                </div>

                <div class="widget widget_categories">
                    <h5 class="widget-title">Categories</h5>
                    <ul class="link-list cf">
                        {% for category in categories %}
                            <li>
                                <a href="{{ url_for('blog.blog_list', category_name=category.name) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget_tag_cloud">
                    <h5 class="widget-title">Tags</h5>
                    <div class="tagcloud cf">
                        {% for tag in all_tags %}
                            <a href="{{ url_for('blog.blog_list', tag_name=tag.name) }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="widget widget_photostream">
                    <h5>Photostream</h5>
                    <ul class="photostream cf">
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                        <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>
                    </ul>
                </div>

            </aside>

        </div> <!-- Secondary End-->

    </div>

{% endblock %}